<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - EV Charge Hub</title>
    
    <style>
        body {
            margin: 0;
            overflow: hidden; /* Add this to prevent scrollbars */
        }

        iframe {
            width: 100%;
            height: 108vh; /* Use viewport height for full-screen height */
            border: 0; /* Remove iframe border */
        }
    </style>
</head>
<body>
    <iframe src='https://my.spline.design/fullelectriccopy-3722956a217bde1911a22cf6843e3a2a/' frameborder='0'></iframe>
</body>
</html>