
<html lang="en">
  <head>
    <title>Home -EV Charge Hub</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/Images/logo.png" />

    <style>
     @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
      
    </style>
    
  </head>

  <body>
    <!-- Full Desktop -->
    <header class="position-relative d-none d-sm-block m-2">
      <!-- <div class="container"> -->
      <div class="position-absolute ps-4" style="top: 20px">
        <a class="navbar-brand font-weight-bold" href="/home">
          <img
            src="Images/logo.png"
            class="img-fluid"
            style="max-width: 120px; max-height: 60px"
          />
        </a>
      </div>

      <nav
        class="navbar navbar-expand-sm navbar-light"
        style="margin-left: 150px"
      >
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapseNavbarid"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseNavbarid">
          <ul class="navbar-nav mt-2 d-flex justify-content-around">
            <li class="nav-item active">
              <a class="nav-link font-weight-bold" href="/home"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="/Joinus">Join Us</a>
            </li>

            <li class="nav-item dropdown hoverelement">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Service
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#howToContainer">How to</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#carModelContainer">Car Model</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./MapBooking"
                    >Map & Booking</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item hoverelement">
              <a class="nav-link font-weight-bold" href="#footer">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="navbar-nav ml-auto mt-2 d-flex justify-content-end">
            <% if (loggedIn) { %>
              <li class="nav-item btnSignUp">
                <a class="img-fluid" href="./Profile"
                  ><img
                    src="./Images/profile/profile-user-purple.png"
                    style="width: 36px"
                /></a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn font-weight-bold text-danger" href="/LogOut">Log Out</a>
              </li>
              <% } %>

              <% if (!loggedIn) {%>
                <li class="nav-item">
                  <a class="nav-link btn font-weight-bold" href="/LogIn">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn font-weight-bold" href="/SignUp">Sign Up</a>
                </li>
              <% } %>
          </ul>
        </div>
      </nav>

      <nav class="position-relative">
        <div class="d-flex justify-content-between">
          <div class="">
            <form
              class="form-inline my-lg-0 justify-content-start"
              style="margin-left: 150px"
            >
              <div class="input-group">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Search"
                  style="
                    border: 1px solid #ccc;
                    border-radius: 20px;
                    width: 300px;
                  "
                />
                <div class="input-group-append">
                  <button type="submit" class="btn my-2 my-sm-0">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="position-absolute" style="right: 2%">
            <div class="form-switch">
              <input
                type="checkbox"
                class="form-check-input selector-button"
                id="selector"
              />
              <label class="form-check-label" for="selector"></label>
            </div>
          </div>
        </div>
      </nav>

    </header>

    <!-- Small Desktop -->
    <header class="position-relative d-block d-sm-none">
      <div class="d-flex justify-content-between pt-3 pl-3 pr-3 p-4">
        <div class="">
          <a class="navbar-brand font-weight-bold" href="/home">
            <img
              src="/Images/logo.png"
              class="img-fluid"
              style="max-width: 120px; max-height: 60px"
            />
          </a>
        </div>

        <div>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseNavbarid"
            aria-label="Toggle navigation"
          >
            <div id="nav-icon3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
      </div>

      <div>
        <div>
          <div class="collapse navbar-collapse" id="collapseNavbarid">
            <div class="p-3">
              <form
                class="form-inline justify-content-start"
                style="margin: 0px"
              >
                <div class="input-group flex-nowrap">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    style="
                      border: 1px solid #ccc;
                      border-radius: 20px;
                      width: auto;
                      max-width: 300px;
                    "
                  />
                  <div class="input-group-append">
                    <button type="submit" class="btn my-2 my-sm-0">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>

             
            <ul class="navbar-nav d-flex justify-content-around p-3">
              <li class="nav-item active">
                <a class="nav-link font-weight-bold" href="/home"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/Joinus">Join Us</a>
              </li>

              <li class="nav-item dropdown hoverelement">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Service
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#howToContainer">How to</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#carModelContainer">Car Model</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="./MapBooking"
                      >Map & Booking</a
                    >
                  </li>
                </ul>
              </li>
  
              <li class="nav-item hoverelement">
                <a class="nav-link font-weight-bold" href="#footer">Contact</a>
              </li>

              <% if (loggedIn) { %>
                <li class="nav-item">
                  <a class="nav-link btn font-weight-bold text-danger" href="/LogOut">Log Out</a>
                </li>

                
                <% } %>

                <% if (!loggedIn) {%>
                  <li class="nav-item">
                    <a class="nav-link btn font-weight-bold" href="/LogIn">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn font-weight-bold" href="/SignUp">Sign Up</a>
                  </li>
                <% } %>
                
            </ul>
           
            <div class="" style="padding: 1rem">
              <div class="form-switch">
                <input
                  type="checkbox"
                  class="form-check-input selector-button"
                  id="selectorb"
                />
                <label class="form-check-label" for="selectorb"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

<<<<<<< HEAD
    <!-- content -->
    <!-- <div class="container-fluid">
      <div class="row d-flex align-content-center" style="height: 500px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="display-2 text-center">Home Page</h1>
        </div>
      </div>
    </div> -->

=======
    
>>>>>>> d402747fe06f88e49594f2896faf26d734e405d6
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">
            Home page
          </h1>
          <p class="lead mb-0">
            <a href="#" class="text-white fw-bold">Welcome, <%= UserData.name %> </a>
          </p>
        </div>
      </div>
    <!-- content -->
    
    <div class="container-fluid backgroundAnimation">
      
      <img src="./Images/homepara/Home_0001_moon.png" id="moon">
      <h1 id="welcome" style="color: #763DF2; font-weight: bold; font-size: 90px; text-align: center;">WELCOME, USER</h1>
     <img src="./Images/homepara/Home_0006_star.png" id="star">
     <img src="./Images/homepara/Home_0007_cloud.png" id="cloud">
     <img src="./Images/homepara/Home_0005_mountain.png" id="mountain">
     <img src="./Images/homepara/Home_0004_city2.png" id="city2">
     <img src="./Images/homepara/Home_0003_city1.png" id="city1">
     <img src="./Images/homepara/Home_0002_road.png" id="road">
     <img src="./Images/homepara/Home_0000_car.png" id="car" >
    </div>

    <div data-aos="fade-up" data-aos-duration="1000">
      <div class="container-fluid introev m-auto mt-5 ">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h1 style="font-weight: bold; font-size: 65px; color: #763DF2;">What does Evolt do?</h1>
            <h3 style="font-weight: 500; color: grey;">We are a full service provider of electric vehicle charging stations</h3>
          </div>
          <div class="col-md-3">
            <div class="image-container align-items-center mx-auto mt-5">
              <img src="./Images/EV Image/3407.jpg" class="img-fluid mb-3" alt="EV Image">
            </div>
              <div class="image-container align-items-center mx-auto ">
              <img src="./Images/EV Image/3d-electric-car-with-charged-battery.jpg" class="img-fluid mb-3" alt="EV Image">
            </div>
            
          </div>
          <div class="col-md-3">
            <div class="image-container align-items-center mx-auto">
              <img src="./Images/EV Image/full-shot-man-charging-electric-car.jpg" class="img-fluid mb-3" alt="EV Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <img src="./Images/radius.png" style="position: absolute; right: 65%; top: 1000px; width: 60%; z-index: -1;">

    
    <div data-aos="fade-up" data-aos-duration="1000">
      <div class="row justify-content-center mt-5 mx-auto">
        <div class="col-md-4 justify-content-center position-relative">
        </div>
      <div class="col-md-6  text-md-end mb-3">
        <h1 style="font-weight: bold; font-size: 65px; color: #763DF2;">Find a charging station near you</h1>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid maphome px-0">
      <iframe src="https://my.atlist.com/map/a29a00e0-e597-4bbf-8128-37de4c27c3c5?share=true" allow="geolocation 'self' https://my.atlist.com" width="100%" height="600px" loading="lazy" frameborder="0" scrolling="no" allowfullscreen></iframe>    </div>
    </div>
  </div>

  <div id="howToContainer" data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid HowTo justify-content-center mt-5">
      <div class="row justify-content-center">
        <!-- คอลัมน์แรก -->
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body d-flex justify-content-center">
              <div class="col-md-6 mb-3 ">
                <!-- รูป qrcodevideo -->
                <img src="./Images/EV Image/qrcodevideo.png" class="img-fluid" style="width: 100%; border-radius: 20px;">
              </div>
              <div class="col-md-6 mb-3">
                <!-- h1 -->
                <h1 class="typing-text" style="font-weight: bold; color: #763DF2; font-size: 80px;"></h1>
              </div>
            </div>
          </div>
        </div>
        <!-- คอลัมน์ที่สอง -->
        <div class="col-md-6 mb-3">
          <img src="./Images/EV Image/ar.jpg" class="img-fluid" style="border-radius: 30px; width: 100%;">
        </div>
      </div>
    </div>
  </div>
  

    <div data-aos="fade-up" data-aos-duration="1000">
      <div class="container-fluid carvideo mt-5 px-0">
        <video width="100%" height="auto" autoplay muted loop controls>
          <source src="./Images/Volvo S90 Recharge_ Luxury is not a thing.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    
    
    <div id="carModelContainer" data-aos="fade-up" data-aos-duration="1000">
      <div class="container-fluid carmodel mt-5 mb-3">
        <div class="carmodel--left">
        <div class="text">
          <div class="carmodel__title">Car<br />Model</div>
            </div>
        </div>
        <div class="carmodel--right">
        <div class="slider">
          <div class="slider__background--back"></div>
          <div class="slider__background--front"></div>
          <div class="slider__details">
            <div class="slider__details--name">EX30</div>
            <div class="slider__details--price">Support</div>
            <a href="#1" class="slider__details--link"><svg class="svg-icon_right" viewBox="0 0 20 20"><path fill="none" d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z"></path></svg></a>
                </div>
                <div class="slider__details">
            <div class="slider__details--name">C40 Recharge</div>
            <div class="slider__details--price">Support</div>
            <a href="#2" class="slider__details--link"><svg class="svg-icon_right" viewBox="0 0 20 20"><path fill="none" d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z"></path></svg></a>
                </div>
          <div class="slider__details">
            <div class="slider__details--name">XC40 Recharge</div>
            <div class="slider__details--price">Support</div>
            <a href="#3" class="slider__details--link"><svg class="svg-icon_right" viewBox="0 0 20 20"><path fill="none" d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z"></path></svg></a>
                </div>
                <div class="slider__gallery">
            <img class="slider__image img-fluid" src="./Images/carmodel/electric-car-ex-30-callout-4x3-removebg-preview.png">
            <img class="slider__image img-fluid" src="./Images/carmodel/featurecarc401v-removebg-preview.png">
                    <img class="slider__image img-fluid" src="./Images/carmodel/my23_xc40-bev_skw034_profile_bev1_1920x1440-removebg-preview.png">
                </div>
          <!-- <ul class="slider__navigation">
            <li class="slider__navigation--dot"></li>
            <li class="slider__navigation--dot"></li>
            <li class="slider__navigation--dot"></li>
                </ul> -->
            </div>
      </div>
    </div>
    </div>


    <div class="go-to-top">
      <a href="#">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
  
 <!-- footer -->
 <div class="container-fluid" id="footer">
  <h3 class="text-center pt-5" style="color: #683fbf">
    Want to partner with us?
  </h3>
  <p class="text-center"></p>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-3">
      <a
        class="btn btn-block btn-outline-primary"
        style="border-radius: 20px; width: 100%; margin: 0 auto"
        href="./Joinus"
      >
        Get Started
      </a>
    </div>
  </div>

  <footer>
    <div class="container-fluid text-center mt-5">
      <ul
        class="list-unstyled social-media-icons text-center mt-2 list-unstyled"
      >
        <li class="list-inline-item">
          <a href="#" class="social-media-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-media-icon">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="social-media-icon">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>

      <ul class="list-unstyled footer-menu">
        <li><a href="/home">Home</a></li>
        <li><a href="./Joinus">Join Us</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms Of Use</a></li>
        <li><a href="#">Help</a></li>
      </ul>

      <hr style="color: #683fbf" />
      <p class="copyright" style="color: #683fbf; font-size: 12px">
        &copy; 2023 <a href="./home">Ev Charge Hub.</a> All rights
        reserved.
      </p>
    </div>
  </footer>
</div>


     <!-- dark mood -->
    <script>
      $(document).ready(function () {
        $(".selector-button").change(function () {
          $("body").toggleClass("bg-black");
          // ไปทำเป็นtransparent
          $("nav").toggleClass("navbar-dark ");
          $("header").toggleClass("navbar-dark");

          $(".custom-control-label").toggleClass("text-white");
          $("h1").toggleClass("text-white");
          $("h5").toggleClass("text-white");

          if ($(this).is(":checked")) {
            // เปลี่ยนสีไอคอนเป็นสีขาว
            $(".input-group-append .btn i").css("color", "#fff");
          } else {
            // เปลี่ยนสีไอคอนเป็นสีปกติ
            $(".input-group-append .btn i").css("color", "#000");
          }
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4").click(function () {
          $(this).toggleClass("open");
        });
      });
    </script>

    <!-- dark mood -->
  </body>
</html>
