
<html lang="en">
  <head>
    <title>Join Us -EV Charge Hub</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="./Images/logo.png" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
    </style>
  </head>

  <body>
    <div class="sticky-top">
      <header class="position-relative d-none d-sm-block m-2">
        <!-- <div class="container"> -->
        <div class="position-absolute ps-4" style="top: 20px">
          <a class="navbar-brand font-weight-bold" href="">
            <img
              src="./Images/logo.png"
              class="img-fluid"
              style="max-width: 120px; max-height: 60px"
              href="/home"
            />
          </a>
        </div>

        <nav
          class="navbar navbar-expand-sm navbar-light"
          style="margin-left: 150px"
        >
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-toggle="collapse"
            data-target="#collapseNavbarid"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapseNavbarid">
            <ul class="navbar-nav mt-2 d-flex justify-content-around">
              <li class="nav-item active hoverelement">
                <a class="nav-link font-weight-bold" href="./home"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item hoverelement">
                <a class="nav-link font-weight-bold" href="./Joinus"
                  >Join Us</a
                >
              </li>

              <li class="nav-item dropdown hoverelement">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Service
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#howTo">How to</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#carModel"
                      >Car Model</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="./MapBooking"
                      >Map & Booking</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item hoverelement">
                <a class="nav-link font-weight-bold" href="#footer">Contact</a>
              </li>
            </ul>
          </div>
          <div>
            <ul
              class="navbar-nav ml-auto mt-2 d-flex justify-content-end align-items-center"
            >
              <li class="nav-item btnSignUp">
                <a class="img-fluid" href="./Profile"
                  ><img
                    src="./Images/profile/profile-user-purple.png"
                    style="width: 36px"
                /></a>
              </li>
              <li class="nav-item btnSignUp">
                <a 
                class="nav-link font-weight-bold" 
                href="/SignUp"
                  >Sign Up</a
                >
              </li>
              <li class="nav-item btnLogin">
                <a
                  class="nav-link font-weight-bold text-right"
                  href="/LogIn"
                  >Log In</a
                >
              </li>
            </ul>
          </div>
        </nav>
        <nav class="position-relative">
          <div class="d-flex justify-content-between">
            <div class="">
              <form
                class="form-inline my-lg-0 justify-content-start"
                style="margin-left: 150px"
              >
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    style="
                      border: 1px solid #ccc;
                      border-radius: 20px;
                      width: 300px;
                    "
                  />
                  <div class="input-group-append">
                    <button type="button" class="btn my-2 my-sm-0">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <div class="position-absolute" style="right: 2%">
              <div class="form-switch">
                <input
                  type="checkbox"
                  class="form-check-input selector-button"
                  id="selector"
                />
                <label class="form-check-label" for="selector"></label>
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <!-- Small Desktop -->
    <header class="position-relative d-block d-sm-none">
      <div class="d-flex justify-content-between pt-3 pl-3 pr-3 p-4">
        <div class="">
          <a class="navbar-brand font-weight-bold" href="./home">
            <img
              src="./Images/logo.png"
              class="img-fluid"
              style="max-width: 120px; max-height: 60px"
            />
          </a>
        </div>

        <div>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseNavbarid"
            aria-label="Toggle navigation"
          >
            <div id="nav-icon3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
      </div>

      <div>
        <div>
          <div class="collapse navbar-collapse" id="collapseNavbarid">
            <div class="p-3">
              <form
                class="form-inline justify-content-start"
                style="margin: 0px"
              >
                <div class="input-group flex-nowrap">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    style="
                      border: 1px solid #ccc;
                      border-radius: 20px;
                      width: auto;
                      max-width: 300px;
                    "
                  />
                  <div class="input-group-append">
                    <button type="submit" class="btn my-2 my-sm-0">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <ul class="navbar-nav d-flex justify-content-around p-3">
              <li class="nav-item btnSignUp">
                <a class="img-fluid" href="./Profile"
                  ><img
                    src="./Images/profile/profile-user-purple.png"
                    style="width: 36px"
                /></a>
              </li>
              <li class="nav-item active hoverelement">
                <a class="nav-link font-weight-bold" href="./home"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item hoverelement">
                <a class="nav-link font-weight-bold" href="./Joinus"
                  >Join Us</a
                >
              </li>

              <li class="nav-item dropdown hoverelement">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Service
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#howTo">How to</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#carModel"
                      >Car Model</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="./MapBooking"
                      >Map & Booking</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item hoverelement">
                <a class="nav-link font-weight-bold" href="#footer">Contact</a>
              </li>

              <li class="nav-item hoverelement">
                <a class="nav-link font-weight-bold" href="./SignUp"
                  >Sign Up</a
                >
              </li>
              <li class="nav-item hoverelement">
                <a class="nav-link font-weight-bold" href="./LogIn"
                  >Log In</a
                >
              </li>
            </ul>

            <div class="" style="padding: 1rem">
              <div class="form-switch">
                <input
                  type="checkbox"
                  class="form-check-input selector-button"
                  id="selectorb"
                />
                <label class="form-check-label" for="selectorb"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Join -->
    <div data-aos="fade-up" data-aos-delay="300">
      <div
        class="container-fluid col-md-9 pt-5"
        style="font-family: 'Noto Sans Thai', sans-serif"
      >
        <h1 style="color: #683fbf; font-weight: bold; margin-bottom: 50px">
          Join Business with Us
        </h1>
        <div class="card">
          <div class="card-body">
            <form action="#">
              <div class="mb-3 ps-5" style="width: 90%">
                <h4>สถานที่</h4>
                <label for="region">ภาค</label>
                <select class="form-control" id="region">
                  <option value="">เลือกภาค</option>
                  <option value="ภาคเหนือ">ภาคเหนือ</option>
                  <option value="ภาคตะวันออกเฉียงเหนือ">
                    ภาคตะวันออกเฉียงเหนือ
                  </option>
                  <option value="ภาคกลาง">ภาคกลาง</option>
                  <option value="ภาคตะวันออก">ภาคตะวันออก</option>
                  <option value="ภาคตะวันตก">ภาคตะวันตก</option>
                  <option value="ภาคใต้">ภาคใต้</option>
                </select>
              </div>
              <div class="mb-3 ps-5" style="width: 90%">
                <label for="province">จังหวัด</label>
                <select class="form-control" id="province">
                  <option value="">เลือกจังหวัด</option>
                </select>
              </div>
              <div class="mb-3 ps-5" style="width: 90%">
                <label for="district">เขต/อำเภอ</label>
                <select class="form-control" id="district">
                  <option value="">เลือกเขต/อำเภอ</option>
                </select>
              </div>
            </form>

            <form class="row g-3 pt-3">
              <div class="col-lg-6 col-sm-12 ps-5">
                <h4>ประเภทธุรกิจ</h4>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType1"
                    value="ห้างสรรพสินค้า / คอมมูนิตี้มอลล์"
                  />
                  <label class="form-check-label" for="businessType1"
                    >ห้างสรรพสินค้า / คอมมูนิตี้มอลล์</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType2"
                    value="โรงแรม / รีสอร์ท / ที่พักเชิงพาณิชย์"
                  />
                  <label class="form-check-label" for="businessType2"
                    >โรงแรม / รีสอร์ท / ที่พักเชิงพาณิชย์</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType3"
                    value="สถานีบริการน้ำมัน / LPG / NGV"
                  />
                  <label class="form-check-label" for="businessType3"
                    >สถานีบริการน้ำมัน / LPG / NGV</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType4"
                    value="ท่าอากาศยาน / ศูนย์บริการขนส่ง"
                  />
                  <label class="form-check-label" for="businessType4"
                    >ท่าอากาศยาน / ศูนย์บริการขนส่ง</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType5"
                    value="ภัตตาคาร / ร้านอาหาร / ร้านกาแฟ"
                  />
                  <label class="form-check-label" for="businessType4"
                    >ภัตตาคาร / ร้านอาหาร / ร้านกาแฟ</label
                  >
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 ps-5" style="margin-top: 55px">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType6"
                    value="สนามกีฬา / สปอร์ทคอมเพล็ก"
                  />
                  <label class="form-check-label" for="businessType5"
                    >สนามกีฬา / สปอร์ทคอมเพล็ก</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType7"
                    value="สถานที่ประกอบธุรกิจ"
                  />
                  <label class="form-check-label" for="businessType6"
                    >สถานที่ประกอบธุรกิจ</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType8"
                    value="ลานจอดรถ / อาคารจอดรถ"
                  />
                  <label class="form-check-label" for="businessType7"
                    >ลานจอดรถ / อาคารจอดรถ</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType9"
                    value="โรงภาพยนต์ / โรงละคร"
                  />
                  <label class="form-check-label" for="businessType8"
                    >โรงภาพยนต์ / โรงละคร</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="businessType"
                    id="businessType10"
                    value="อื่น ๆ"
                  />
                  <label class="form-check-label" for="businessType6"
                    >อื่นๆ</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    style="width: 80%"
                    name="otherBusinessType"
                    id="otherBusinessType"
                    placeholder="ระบุประเภท"
                  />
                </div>
              </div>
            </form>

            <form class="row g-3 pt-3">
              <div class="col-lg-6 col-sm-12 ps-5">
                <h4>ประเภทลานจอดรถ</h4>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="parkingType"
                    id="parkingType1"
                    value="อาคารจอดรถ"
                  />
                  <label class="form-check-label" for="parkingType1"
                    >อาคารจอดรถ</label
                  >
                </div>
                <div class="col-lg-6 col-sm-12">
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="parkingType"
                      id="parkingType2"
                      value="ลานจอดรถไม่มีหลังคา"
                    />
                    <label class="form-check-label" for="parkingType2"
                      >ลานจอดรถไม่มีหลังคา</label
                    >
                  </div>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="parkingType"
                    id="parkingType3"
                    value="ลานจอดรถมีหลังคา"
                  />
                  <label class="form-check-label" for="parkingType3"
                    >ลานจอดรถมีหลังคา</label
                  >
                </div>
              </div>
            </form>
            <form class="row g-3 pt-3">
              <div class="col-lg-6 col-sm-12 ps-5">
                <h4>จำนวนช่องจอดรถยนต์</h4>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="parkingSpace"
                    id="parkingSpace1"
                    value="1-10 คัน"
                  />
                  <label class="form-check-label" for="parkingSpace1"
                    >1-10 คัน</label
                  >
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="parkingSpace"
                    id="parkingSpace2"
                    value="มากกว่า 10 คัน"
                  />
                  <label class="form-check-label" for="parkingSpace2"
                    >มากกว่า 10 คัน</label
                  >
                </div>
              </div>
            </form>

            <div class="mt-4 pt-2 text-center">
              <button type="submit" class="btn btn-primary">
                เข้าร่วมธุรกิจ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

       <div class="go-to-top">
        <a href="#">
          <i class="fas fa-arrow-up"></i>
        </a>
      </div>

    <!-- footer -->
    <div class="container-fluid" id="footer">
      <h3 class="text-center pt-5" style="color: #683fbf">
        Want to partner with us?
      </h3>
      <p class="text-center"></p>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-3">
          <a
            class="btn btn-block btn-outline-primary"
            style="border-radius: 20px; width: 100%; margin: 0 auto"
            href="/Joinus"
          >
            Get Started
          </a>
        </div>
      </div>

      <footer>
        <div class="container-fluid text-center mt-5">
          <ul
            class="list-unstyled social-media-icons text-center mt-2 list-unstyled"
          >
            <li class="list-inline-item">
              <a href="#" class="social-media-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-media-icon">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-media-icon">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>

          <ul class="list-unstyled footer-menu">
            <li><a href="/home">Home</a></li>
            <li><a href="#">Join Us</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Help</a></li>
          </ul>

          <hr style="color: #683fbf" />
          <p class="copyright" style="color: #683fbf; font-size: 12px">
            &copy; 2023 <a href="/home">Ev Charge Hub.</a> All rights
            reserved.
          </p>
        </div>
      </footer>
    </div>

    <script>
      $(document).ready(function () {
        // กำหนดค่าเริ่มต้น
        $("body").addClass("bg-black");
        $("nav").removeClass("navbar-dark");
        $("header").removeClass("navbar-dark");
        $(".custom-control-label").removeClass("text-white");
        $("h1").removeClass("text-white");
        $("h5").removeClass("text-white");
        $(".input-group-append .btn i").css("color", "#763DF2");

        $(".selector-button").change(function () {
          // สลับสีพื้นหลัง
          $("body").toggleClass("bg-black");
          // ไปทำเป็นtransparent
          $("nav").toggleClass("navbar-dark");
          $("header").toggleClass("navbar-dark");

          if ($(this).is(":checked")) {
            // เปลี่ยนสีไอคอนเป็นสีขาว
            $(".input-group-append .btn i").css("color", "#763DF2");
          } else {
            // เปลี่ยนสีไอคอนเป็นสีปกติ
            $(".input-group-append .btn i").css("color", "#763DF2");
          }
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4").click(function () {
          $(this).toggleClass("open");
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4").click(function () {
          $(this).toggleClass("open");
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4").click(function () {
          $(this).toggleClass("open");
        });
      });
    </script>

    <!-- dark mood -->

    <!-- nav bar sticky -->
    <script>
      $(document).ready(function () {
        window.onscroll = function () {
          if (
            document.body.scrollTop > 30 ||
            document.documentElement.scrollTop > 30
          ) {
            $(".sticky-top").css("top", "-120px");
          } else {
            $(".sticky-top").css("top", "0");
          }
        };
      });
    </script>

    <!-- change pic -->
    <script src="/js/style.js"></script>

    <script>
      AOS.init();
    </script>
  </body>
</html>
