body {
  font-weight: 600 !important;
  font-family: 'Quicksand', sans-serif !important;
}
.navbar {
  font-weight: bold;
}
.nav-link{
  color: #683FBF !important;
}
/* nav bar effect */
.sticky-top {
  top: 0;
  z-index: 999;
  transition: top 0.5s ease-in-out;
}
.navbar-toggler.d-lg-none {
    background-color: transparent !important;
    border: none;
}

/* card for every pag */
.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: none !important;
  border-radius: 30px !important;
  font-weight: 600;
  background-color: #ffffffcd !important;
  color: #1e2d59 !important;
}
.card-header {
  border-top-right-radius: 30px !important;
  border-top-left-radius: 30px !important;
}



/* Customize modal buttons */
.modal-footer button {
  border-radius: 30px;
  font-weight: 600;
}

.modal-content {
  border-radius: 30px !important;
  color: #683FBF !important;
  background-color: #ffffffe7 !important;
}

.form-control {
    border-radius: 25px !important;
    background-color: transparent;
    border: 1.5px solid #683FBF ;
    margin-bottom: 10px;
  }

.btnLogIn {
  background-color: #9CF2F2 !important;
  border-radius: 30px;
  margin: 3px;
 
}

.form-check-input:checked {
    background-color: #763DF2 !important;
    border-color: #763DF2 !important;
}

.dropdown-menu  {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.91) !important;
}

.dropdown-menu a {
  color: #683FBF !important;
}

.dropdown-menu .dropdown-item{
  font-weight: 600;
}

.hoverelement .dropdown-item:hover {
  border-radius: 20px;
  background-color: #9CF2F2 !important;
  transition: 0.5s;
}

/* Burger Icon 3 */
#nav-icon3 {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #683FBF;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
.btn-block.btn-outline-primary {
  font-weight: bold;
  border: 1.5px solid #683FBF;
  color: #683FBF;
  border-color: #683FBF;
  
}

.btn-block.btn-outline-primary:hover , .btn-block.btn-outline-primary:active {
  color: white !important;
  border-color: #683FBF !important;
  background-color:#683FBF!important;
}



/* ปุ่มทุกหน้า */
.btn-primary {
  background-color: #683FBF !important;
  border-color: transparent !important;
  border-radius: 30px !important;
  font-weight: 400 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions */
}

.btn-primary:active {
  background-color: #512b92 !important; /* Change the color when the button is pressed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267); /* Increase the shadow when pressed */
}



/* footer */

.footer-image {
  max-width: 150px!important;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
  
}
footer .social-media-icon{
  font-size: 20px;
  color: #683FBF;
}

.footer-menu li a{
 font-weight: 600;
 font-size: 12px;
 color: #683FBF;
 text-decoration: none;
}
span a, .copyright a{
  color: #E15CF2;
  font-weight: bold;
  text-decoration: none;
 
}

.hoverelement > a{
  position: relative;
  text-decoration: none;
}

.hoverelement > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
  background-color: #E15CF2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hoverelement > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hoverelement:hover .dropdown-menu {
  display: block;
}

/* button login */
span a, .copyright a{
  color: #E15CF2;
  font-weight: bold;
  text-decoration: none;
}

/* gradient */
@keyframes gradient {
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 20% 50%;
	}
}
@property --degree {
  syntax: "<angle>";
  inherits: false;
  initial-value: 10deg;
}
d::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1%;
  left: -1%;
  background: linear-gradient(
    var(--degree),
    #E15CF2 20%,
    #763DF2 40%,
    #9CF2F2  60%
    #683FBF  80%,
    #1E2D59 100%
  );
  border-radius: inherit;
  z-index: -1;
  animation: spin 15s infinite ease-in-out;
  will-change: contents;
}
.card::after {
  content: "";
  position: absolute;
  width: 102%;
  height: 102%;
  top: -1%;
  left: -1%;
  background: linear-gradient(
    var(--degree),
    #E15CF2 20%,
    #763DF2 40%,
    #9CF2F2 60%,
    #683FBF  80%,
    #1E2D59 100%
  );
  border-radius: inherit;
  filter: blur(40px);
  z-index: -2;
  animation: spin 15s infinite ease-in-out;
  will-change: contents;
}
@keyframes spin {
  0% {
    --degree: 1deg;
  }
  100% {
    --degree: 300deg;
  }
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  color: #E15CF2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  z-index: 99;
}
.go-to-top  a{ 
  color: #E15CF2;
}
.go-to-top :hover {
 color: #9CF2F2;
}



.container-fluid.maptext {
  position: relative; /* เพิ่ม */

}

.container-fluid.maptext h1 {
  font-family: 'helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 5vw;
  position: absolute;
  top: 40%;
  left: 10%;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container-fluid.maptext .under {
  color: white;
}

.container-fluid.maptext .over {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  z-index: 100;
}

.container-fluid.maptext img {
  width: 60%; /* เปลี่ยนเป็นความกว้าง 100% */
  height: auto; /* เพิ่ม */
  position: relative;
  top: 10%;
  left: 30%;
  max-width: 100%; /* เพิ่ม */
  border-radius: 30px;
  transition: all 0.8s cubic-bezier(0.165, 0.80, 0.40, 1);
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.container-fluid.maptext:hover img {
  transform: scale(1.1);
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}

.container-fluid.maptext:hover h1 {
  transform: translateY(-25%) scale(1.15);
}


.maptext2 {
  background-image: url('./Images/background Map.png');
  background-size: cover; /* หรือ 'contain' ตามที่คุณต้องการ */
  background-position: center;
  background-repeat: no-repeat;
  /* อื่นๆตามต้องการ เช่น height, padding, color, etc. */
}
.maptext2 img{
  width: 150px;
}

.container-fluid.maptext .under.switched {
  color: #E15CF2;
}
.container-fluid.maptext .over.switched {
  -webkit-text-stroke: 1px #E15CF2;
  color: transparent;
  z-index: 100;
}

/* booking step animate */
.bookingstep img,
.bookingstep h2 {
  opacity: 0.5;
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.3s;
}
.bookingstep:hover img,
.bookingstep:hover h2 {
  opacity: 1;
  transform: scale(1);
}




.container-fluid.backgroundAnimation {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container-fluid.backgroundAnimation {
    max-height: 240px; /* ปรับขนาดความสูงตามที่ต้องการ */
  }
  .container-fluid.backgroundAnimation h1{
    font-size: 24px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-fluid.backgroundAnimation {
    max-height: 500px; 
  }
  .container-fluid.backgroundAnimation h1{
    font-size: 80px !important;
  }
}
/* Media query เมื่อหน้าจอกว้าง 1280px ขึ้นไป (ขึ้นอยู่กับความต้องการของ Macbook) */
@media screen and (min-width: 1280px) {
  .container-fluid.backgroundAnimation {
    max-height: 1200px; /* ปรับขนาดความสูงตามที่ต้องการ */
  }
}

.backgroundAnimation {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.backgroundAnimation img {
  position: absolute;
  top: 0; /* Set top to 0 initially */
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 100vw;
  height: auto;
  object-fit: cover;
}

#moon {
  position: absolute;
  max-width: 20%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#star {
  position: absolute;
  width: 70%;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mountain,
#sta
#cloud,
#city2,
#city1,
#road,
#car {
  width: 100%;
}

#mountain {
  top: 15%;
}
#cloud {
  top: 0;
}

#city2 {
  top: 20%;
}

#city1 {
  top: 15%;
}


#road {
  top: 25%;
}

#car {
  left: 65%;
  max-width: 45%;
  top: 60%;
}


.wave:hover {
  animation: waveAnimation 1s infinite;
}

@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-text {
  transition: transform 0.5s ease-in-out;
}

.wave-text:hover {
  animation: waveAnimation 1s infinite;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.introev img {
  border-radius: 30px;
 
}

.image-container img {
  max-width: 100%;
  vertical-align: top;
  transition: transform 0.3s ease-out;
  opacity: 0.7;
}

.image-container.hover img {
  transform: scale(1.1);
  opacity: 1;
}

/* typing text */
.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}


/* card car */
.carmodel {
  width: 100%;
  height: 460px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.carmodel--left,
.carmodel--right {
  width: 50%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.carmodel--left {
  float: left;
margin-top: 38px;
}

.carmodel--right {
  float: right;
}

@media only screen and (max-width: 1024px) {
body {
  display: block;
  height: 100%;
  margin-top: 20px;
}
.carmodel--left {
  display: none;
}
.carmodel--right {
  width: 100%;
  }
}

.carmodel__title {
  font-weight: 700;
  font-size: 92px;
  color: #763DF2;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.carmodel__cta a {
  position: relative;
  text-decoration: none;
  color: #E15CF2;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

.carmodel__cta a:hover .svg-icon {
  transform: translateX(4px)
}

.slider {
  width: 420px;
  height: 420px;
  position: relative;
}


.slider__background--back {
  width: 340px;
  height: 340px;
  background: #E15CF2;
  position: absolute;
  bottom: 0;
}

/* CSS used in JS */

.slider__background--front {
  width: 320px;
  height: 180px;
  background: #683FBF;
  padding: 6px;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 48px;
  
  transform-origin: right;
  transform: scaleX(1);
}

@keyframes slideInAndOut {
 0% {
    transform: scaleX(0);
 } 10%, 80% {
    transform: scaleX(1);
 } 90%, 100% {
    transform: scaleX(0);
 }
}

.slider__image {
  position: absolute;
  bottom: 0;
  left: -35px;
  z-index: 800;
transform: translateX(-20px);
@extend .nohighlight;
}

@keyframes slideInLeft {
  0% {
  transform: translateX(-20px);

} 5% {
  transform: translateX(20px);
} 100%{
  transform: translateX(40px);
}
}

.slider__details {
  font-family: 'IBM Plex Mono', monospace;
  color: #1E2D59;
  text-align: right;
width: 320px;
  height: 180px;
  position: absolute;
  z-index: 700;
  right: 12px;
  top: 62px;
}

@keyframes fadeIn {
  0%, 40% {
  opacity: 0;
} 100% {
  opacity: 1;
  }
}

@keyframes fadeOut {
 0% {
    opacity: 1;
 } 100% {
    opacity: 0;
 }
}

.slider__details--name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
cursor: pointer;
}

.slider__details--price {
  font-weight: bold;
cursor: pointer;
}

.slider__details--link {
  width: 28px;
  height: 28px;
  background: #E15CF2;
  color: #1E2D59;
  padding: 6px;
  right: 0;
  top: 126px;
  position: absolute;

}

.svg-icon {
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 3px;
  right: -20px;
  transition: .5s;
}

.svg-icon_right path {
  fill: #1E2D59;
}

.svg-icon path {
  fill: #E15CF2;
}

.slider__navigation {
  position: absolute;
  z-index: 999;
  left: 0px;
  bottom: 0px;
}

.slider__navigation--dot {
  width: 18px;
  height: 18px;
  background: #9CF2F2;
  float: left;
  transition: .2s;

}

.slider__navigation--dot:nth-child(3) {
  margin-bottom: 0;
}
